{% load static %}

<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Athletes Supporter</title>
  <link rel="icon" type="image/x-icon" href="{% static 'imgs/runner.png' %}">
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'imgs/runner.png' %}">

  <link rel="stylesheet" type="text/css" href="{% static 'draw/vendor/bootstrap/css/bootstrap.min.css' %}">
  <script type="text/javascript" src="{% static 'draw/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'draw/vendor/paper/paper-full.min.js' %}"></script>
  <script type="text/javascript" src="https://hammerjs.github.io/dist/hammer.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'draw/preference/index.css' %}">

</head>

<body>
  <!-- You may change the dimensions of this canvas -->
  <div class="display_size" style="text-align: center; font-size: 2vw;"></div>
  <!--     <div id="gesture-box"></div> -->

</body>
<script type="text/javascript" src="{% static 'draw/preference/functions.js' %}"></script>
<script type="text/javascript" src="{% static 'draw/preference/index.js' %}"></script>
<script type="text/javascript" src="{% static 'draw/preference/receive.js' %}"></script>
<script type="text/javascript" src="{% static 'draw/preference/receive_small.js' %}"></script>

</html>