#gesture-box {
/*   margin: 5vw; */
  width: 90vw;
  height: 80vh;
/*   width: 312px; */
/*   height: 390px; */
  border: dotted black;
  margin: 0 auto;
  z-index:1;
  display:flex;
  justify-content: center;
  align-items: center;
}

/* .memo {
  width: 90vw;
  height: 10vh;
  background-color: skyblue;
  display: none;
  margin-top: 5vh;
  margin-left: 5vw;
  
} */

.display_size {
  height: 2vh;
  width: 100vw;
  margin: 0 auto;
  font-family: 'arial black';
  display: block;
}

.sent {
  padding: 0.5em 1em;
  margin: 2em 0;
  color: #FFF;
  width: 60vw;
  height: 10vh;
  background: #6eb7ff;
  border-bottom: solid 6px #3f87ce;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  z-index: 2;
  position: relative;
  top: 0%;
  left: 0%;
  display: none;
}

.sent p {
  margin: 0 auto;
  font-size: 50px;
  text-align: center;
  padding: 0;
  line-height: 10vh;
}

.sent img {
  display: none;
  height: 8vh;
/*   margin: 30vh 30px 0 0; */
  margin: 0 auto;
  line-height: 10vh;
  float: right;
}