#gesture-box {
/*   margin: 5vw; */
  width: 90vw;
  height: 80vh;
/*   width: 312px; */
/*   height: 390px; */
  border: dotted black;
  margin: 0 auto;
}

/* .memo {
  width: 90vw;
  height: 10vh;
  background-color: skyblue;
  display: none;
  margin-top: 5vh;
  margin-left: 5vw;
  
} */

.display_size {
  height: 2vh;
  width: 100vw;
  margin: 0 auto;
  font-family: 'arial black';
  display: block;
}
